.bars-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap; /* Prevents bars from wrapping onto multiple lines */
}

.bar {
  flex: 1 1 auto; /* Adjusts size based on content and available space */
  flex-grow: 1;
  min-width: 20px; /* Default min-width, consider adjusting based on JS */
  max-width: 100px; /* Default max-width, adjust this value based on JS */
  margin: 0 5px;
  background-color: blue;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  position: relative;
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  color: black;
}

.bar-number {
  position: absolute;
  top: 50%; /* Centered vertically */
  left: 50%; /* Centered horizontally */
  transform: translate(-50%, -50%); /* Adjusts the positioning to truly center the text */
  font-weight: bold;
  color: white;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.bar:hover {
  transform: scale(1.05);
  z-index: 2; /* Ensure the bar is above others on hover */
}